<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="robots" content="noindex,noarchive, nofollow" />
        <title>Players</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='style.css'>

        <link rel="manifest" href="site.webmanifest">
        <link rel="stylesheet" href="style.css" />
    </head>
<body>
    <header>
        <h1>Players</h1>  
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/sessions">Sessions</a>
        <a href="/players">Players</a>
        <a href="/characters">Characters</a>
        <a href="/items">Items</a>
        <a href="/characters_and_items">Characters and Items</a>
    </nav>

        <main>
            <section>
                <h2>Players</h2>
                <article>
                    <p>This is a table of the current players.</p>
                </article>
                
                <article>
                    <table>
                        <caption>Current Players</caption>
                        <thead>
                            <tr>
                                <th>Player ID</th>
                                <th>User Name</th>
                                <th>Session ID</th>
                                <th>Character</th>
                            </tr>
                        </thead>
                    </table>
                </article>
            </section>

        </main>
    <footer class="container text-center">
	<p>&copy; Michael Caballero & Tiffany Gorseth (2024)</p>
	</footer>
        <script src='random.js'></script>
</body>
</html>