<div class="container">
	<div class="row">
		<div class="col-sm-3 citation-img text-center">
			<img src="/images/noun-server.png"/>
			<p>"Server" by Nice Design</p>
			<a href="http://thenounproject.com/icon/server-6845855/" class="btn btn-info">Check it out!</a>
		</div>
		<div class="col-sm-3 citation-img text-center">
			<img src="/images/noun-team.png"/>
			<p>"team" by Kawalan Icon</p>
			<a href="http://thenounproject.com/icon/team-4566482/" class="btn btn-info">Check it out!</a>
		</div>
		<div class="col-sm-3 citation-img text-center">
			<img src="/images/noun-character.png"/>
			<p>"character" by gravisio</p>
			<a href="http://thenounproject.com/icon/character-6742429/" class="btn btn-info">Check it out!</a>
		</div>
		<div class="col-sm-3 citation-img text-center">
			<img src="/images/noun-item.png"/>
			<p>"item" by Supanut Pyakanont<p>
			<a href="http://thenounproject.com/icon/item-6690357/" class="btn btn-info">Check it out!</a>
		</div>
		<div class="col-sm-3 citation-img text-center">
			<img src="/images/noun-inventory.png"/>
			<p>"inventory" by gravisio<p>
			<a href="http://thenounproject.com/icon/inventory-6742697/" class="btn btn-info">Check it out!</a>
		</div>
</div>
	<p>Images were obtained via a purchased license from <a target="_blank" href="https://thenounproject.com">The Noun Project</a>. This license grants perpetual, non-exclusive, worldwide rights to unlimited use of the licensed image, as covered by the Noun Project's <a href="https://www.thenounproject.com/legal" target="_blank">Terms of Use.</a></p>
</div>

